<h1>{{name}}</h1></br>

<p>CEO</p>

<p class="ifActive">
     Aliquam malesuada bibendum dui, nec vestibulum justo imperdiet in. Donec vestibulum nisi nec fermentum imperdiet. Nulla congue dui hendrerit orci aliquet, eu consequat enim faucibus. Proin ac sapien sit amet justo eleifend semper. Fusce ac elit dapibus, rhoncus velit at, rutrum metus. Suspendisse ullamcorper leo sit amet massa tincidunt, non facilisis erat feugiat. Phasellus rhoncus diam dolor, quis volutpat nunc pulvinar aliquet. Etiam et nisi consequat, rutrum dui eu, finibus enim.
</p>
