<section layout="column">
    <article layout="row">
        <p flex="50">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non ultricies sem. Pellentesque sed blandit nulla. Curabitur sodales volutpat turpis in sodales. Mauris imperdiet risus urna, et mattis nunc scelerisque at. Nulla auctor a nisi quis gravida. Donec convallis cursus scelerisque. Aliquam quis orci vel augue volutpat placerat id at nulla. Ut sagittis lorem felis, tincidunt dignissim ex sodales sollicitudin. Donec eget euismod lorem, et blandit ante. Pellentesque luctus, nisl non egestas laoreet, tortor enim scelerisque justo, eget placerat magna arcu vitae elit. Morbi et nunc nec lectus finibus fermentum. Morbi felis nibh, vulputate vel felis et, blandit ultrices dui. Proin vel ligula at erat sodales convallis.
        </p>
        <figure flex="50">

        </figure>
    </article>
</section>