sidebar {
    background-color: blue;
}

@media (min-width : 600px) {
    body {
        height: 100%;
    }

    main {
        height: 100%
    }

    main section {
        height: 100%;
    }

    sidebar {
        height: 100%;
    }

    content {
        height: 100%;
    }
}

@media (max-width : 600px){
    sidebar{

        min-height: 60px;
    }
}